{
  "plugins": [
    "add-module-exports",
    "lodash",
    "transform-class-properties",
    [
      "transform-es2015-classes",
      {
        "loose": true
      }
    ],
    "transform-proto-to-assign"
  ],
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ]
}
