{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "lodash",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-es2015-classes", { "loose": true }],
    "transform-proto-to-assign"
  ]
}
